.metallic-background {
  font-family: Arial, sans-serif;
  height: 100vh;
  background: linear-gradient(145deg, #1a1a1a, #2b2b2b);
  overflow: auto; /* Allows scrolling if content overflows */
}

.content {
  margin-top: 70px; /* Adds space below the shadow box */
  padding: 20px;
  color: white;
  text-align: center;
}





